{% extends "tickets/_Layout.html" %}
{% load static %}
{% block content %}
<a href="{% url 'tickets:index' %}">Powrót</a>
{% if play %}
<div class="container">
    <h1>{{play.title}}</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'img/1.jpg' %}" width="100%"/>
        </div>
        <div class="col-md-6">
            <ul>
                <li>
                    {{ play }}
                </li>
                <li>
                    {{ play.genre }}
                </li>
                <li>
                    {{ play.author }}
                </li>
            </ul>
            <ul>
                {% for perf in perf_set %}

                <li>
                    <a href="{% url 'tickets:details' perf.id %}">{{perf.perf_date}}</a>
                </li>
                 <li>
                    Sala {{perf.hall.name}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <h1>{{Play.objects.all}}</h1>
</div>
{% else %}
eeee
{% endif %}
{% endblock %}