{% extends "tickets/_Layout.html" %}
{% load static %}
{% block content %}
    <h1 class="index-title">Wszystkie wystawiane sztuki</h1>
    {% if plays_list %}
        <div class="container">
            {% for play in plays_list %}
                <a href="{% url 'tickets:play' play.id %}">
                    <div class="play-item row">
                        <div class="col-lg-5 img-container">
                            <img src="{% static 'img/1.jpg' %}" width="100%"/>
                        </div>
                        <div class="col-lg-7">
                            <ul>
                                <li>
                                    {{ play }}
                                </li>
                                <li>
                                    {{ play.genre }}
                                </li>
                                <li>
                                    {{ play.author }}
                                </li>
                                <li>
                                    Liczba przedstawień: {{ play.performance_set.all.count }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}