{% extends "tickets/_Layout.html" %}
{% block content %}
<h1>Logowanie</h1>
<div class="container">
    <form action="login" method="post">
        {% csrf_token %}
        <div class="form-row">
            <label for="username">Nazwa użytkownika</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-row">
            <label for="password">Hasło</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary register-button">Zarejestruj</button>
    </form>
</div>
{%endblock%}