.play-item {
    margin: 10px;
    border-bottom: black 1px solid;
    padding-bottom: 10px;
}

.play-item:hover {
    background-color: azure;
}

.img-container {
    padding-left: 0px;
}

.register-button {
    margin-top: 10px;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: gray;
}
header{
    background-color: #9efffc;
}
body{
    background-color: azure;
}